markets:
  priority: # for each data type: [first in queue, next, ...]
    charts: [coinmarketcap, coingecko]
    coin_info: [coinmarketcap, coingecko]
    tickers: [coinmarketcap, coingecko]
    rates: [fixer, coinmarketcap, coingecko]

  coinmarketcap:
    api: https://pro-api.coinmarketcap.com
    key: #key
    currency: USD
    web_api: https://web-api.coinmarketcap.com
    widget_api: https://widgets.coinmarketcap.com

  coingecko:
    currency: USD
    api: https://api.coingecko.com/api

  fixer:
    currency: USD
    api: https://data.fixer.io/api
    key: #key

  assets: https://raw.githubusercontent.com/trustwallet/assets/master/blockchains # Assets url - details about TW tokens

storage:
  redis:
    url: redis://localhost:6379
  postgres:
    url: postgresql://user:pass@localhost/watchmarket?sslmode=disable
    logs: false

worker:
  tickers: 5m
  rates: 5m

rest_api:
  mode: release # Possible values: "debug", "release"
  port: 8421 # Possible values: "debug", "release"
  tickers:
    cache_control: 1m
    respectable_market_cap: 0
    respectable_volume: 0
    respectable_update_time: 72h
  charts:
    cache_control: 10m
  info:
    cache_control: 10m
  cache:  15m
  request_limit: 500
  use_memory_cache: true
  update_time:
    memory_cache_tickers: 5m
    memory_cache_rates: 5m

log:
  sentry:
    dsn: ""